html, body {
  font-family: "Open Sans", Hevletica, sans-serif;
  padding: 0px;
  margin: 0px;
}

.stripe {
  padding: 50px 0px;
}

.dark.stripe {
  background-color: #333333;
  color: #FFFFFF;
}

.footer.link.list {
  display: block;
  text-align: center;
  margin-bottom: 1.5rem;
}

form.ui.form{
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
  padding: 0px;
}

.segment.borderless{
  -moz-box-shadow: 0px 0px 0px 0px;
  -webkit-box-shadow: 0px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}

/* remove margin in hidden pizza item fields */
.ui.fluid.accordion .field{
  margin: 0px 0px 0px 0px;
}

/* spacer for welcome page */
.big.top.spacer{
  margin-top: 20%;
}

.medium.top.spacer{
  margin-top: 10%;
}

.small.top.spacer{
  margin-top: 5%;
}
