html, body {
  font-family: "Open Sans", Hevletica, sans-serif;
  padding: 0px;
  margin: 0px;
}

.page-wrap {
    min-height: 95%;
}

.footer.link.list {
  display: block;
  text-align: center;
}

/* spacer for welcome page */
.big.top.spacer{
  margin-top: 20%;
}

.medium.top.spacer{
  margin-top: 10%;
}

.small.top.spacer{
  padding-top: 5%;
}

.big.padding-spacer {
    padding-top: 32%;
}

.medium.padding-spacer {
    padding-top: 20%;
}
