{% macro pizza_item(name, desc, small_weight, small_price, big_weight, big_price, index) -%}

<div class="ui title">
  <div class="ui horizontal grid">

    <div class="three wide column"> {{ name }} </div>
    <div class="five wide column"> {{ desc }} </div>
    <div class="two wide column"> {{ small_weight }} g</div>
    <div class="two wide column"> {{ small_price }} &euro;</div>
    <div class="two wide column"> {{ big_weight }} g</div>
    <div class="two wide column"> {{ big_price }} &euro;</div>

  </div>
</div>

<div class="content">
  <div class="ui order form">
    <div class="two fields">

      <div class="field"> {# field 1 #}
        <input name="extra" type="text" placeholder="Extra ingredients?">
      </div>

      <div class="field"> {# field 2 #}
        <div class="ui right floated buttons">
          <input type="submit" value="small" class="ui medium green button">
          <div class="or"></div>
          <input type="submit" value=" big  " class="ui medium red button">
          <input type="hidden" name="pizza" value={{ index }}>
        </div> {# end floated buttons #}
      </div>
    </div> {# end fields #}
  </div>
</div> {# end of content #}

{%- endmacro %}

{% macro pizza_header() -%}
<div class="ui top attached header">
  <div class="ui horizontal grid">
    <div class="three wide column"> Name </div>
    <div class="five wide column"> Details </div>
    <div class="two wide column"> Small </div>
    <div class="two wide column"> Price </div>
    <div class="two wide column"> Big </div>
    <div class="two wide column"> Price </div>
  </div>
</div>
{%- endmacro %}
