{% extends "application.jinja" %} {# change title #}

{% block title %}Pizza Day{% endblock %}

{# head block please here #}
{% block head %}
  {{ super() }}
  <script src= {{ url_for("static", filename="js/active_sessions.js") }}></script>
{% endblock head %}

{# content for main block #}
{% block content %}

<div class="top small spacer"></div>
<div class="ui page grid">
  <div class="ui column">
    <h2 class="ui huge center aligned icon header" >
      <i class="blue time icon"></i>
      <div class="content">
        Active Sessions
      </div>
    </h2>

    <table class="ui inverted table segment">
      <thead>
        <tr>
          <th> Dealer </th>
          <th> Restaurant </th>
          <th> Deadline </th>
          <th> Approx Lunch </th>
          <th> # of Orders </th>
          <th> Join? </th>
        </tr>
      </thead>
      <tbody>
        {% for dealer, data in sessions.items() %}
        <tr>
          <td>{{ dealer }}</td>
          <td>{{ data.get("info", "restaurant")|capitalize }}</td>
          <td>{{ data.get("info", "deadline") }}</td>
          <td>{{ data.get("info", "approx_lunch") }}</td>
          <td>{{ data.options("orders")|length }} orders</td>
          <td>
            <a class="ui green medium button" onclick="join('{{dealer}}');">
              yes!
            </a>
          </td>
        </tr>
          
        {% endfor %}
      </tbody>
    </table>

    <div id="email_modal" class="ui modal">
      <i class="close icon"></i>
      <div id="modal_header" class="header"> </div>
      <div class="content">
        <div id="modal_form" class="ui form">
          <div class="field">
            <label>Enter your email pls</label>
            <div class="ui left labeled icon input">
              <input type="text" name="user_email" placeholder="joh@here.com">
                <i class="mail icon"></i>
              </input>
            </div>
          </div> {# field end #}
          <input id="session_name" type="hidden" name="session_name" value="">
        </div> {# end form #}
      </div> {# end content #}
      <div class="actions">
        <div class="ui negative button">Cancel</div>
        <div class="ui positive button">OK</div>
      </div>
    </div> {# end of modal #}
  </div>
</div>
{% endblock content %}
