{% import "helpers/pizza_helper.jinja" as pz_helper%}

<!doctype html>
<html>
  <head>
    <title>{% block title%}{% endblock %}</title>
    {% include "_header.jinja" %}
    {% block head %}{% endblock %}
  </head>
  <body>
    {# replace block with content #}
    {% block content %}{% endblock %}

    {% block footer %}
      {# footer here please #}
      {% include "_footer.jinja" %}
    {% endblock %}
  </body>
</html>
