{% extends "application.jinja" %}
{# change title #}
{% block title %}Pizza Day{% endblock %} 
{# content for main block #}
{% block content %}

<div class="ui centered grid page-wrap">
    <div class="medium padding-spacer"></div>
    <div class="ui four wide column">
        <form action="" method="post" name="email">
            <div class="ui action input">
                <input type="text" placeholder="Email address..." name="email">
                <div class="ui button"> Enter </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
