{% extends "application.jinja" %} {# change title #}

{% block title %}Pizza Day{% endblock %}

{# content for main block #}
{% block content %}


<div class="small top spacer">
<div class="ui page grid">
  <div class="ui column">
    <h2 class="ui huge center aligned icon header" >
      <i class="circular emphasized inverted disabled food icon"></i>
      <div class="content">
        Pizza Day
        <div class="sub header">
          And I don't cook, either. Not as long as they still deliver pizza.
        </div>
      </div>
    </h2>

    <table>
        <thead>
            <tr>
                <th> Name </th>
                <th> Price </th>
                <th> Extra </th>
                <th> Order? </th>
            </tr>
        </thead>
        <tbody>
            {% for pizza in pizzas %}
                <tr>
                    <form action="" method="POST" name="order">
                        <td> {{pizza["name"]}} </td>
                        <td> {{pizza["price"]}} </td>
                        <td>
                            <input type="text" name="extra" />
                        </td>
                        <td>
                            <input type="hidden" value="{{pizza["id"]}}" name="pizza_id" />
                            <input type="submit" value="Order" />
                        </td>
                    </form>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href={{ url_for("get_active_sessions") }} class="ui medium vertical animated button">
      <div class="visible content">
        back to sessions
      </div>
      <div class="hidden content">
        <i class="left arrow icon"></i>
      </div>
    </a> {# end of return to active sessions button #}

  </div>
</div>

{% endblock content %}
