{% extends "application.jinja" %} {# change title #} {% block title %}Pizza Day{% endblock %}

{# content for main block #}
{% block content %}

<div class="ui page grid">
  <div class="ui column">
    <h2 class="ui massive center aligned icon header" >
      <i class="circular emphasized inverted disabled food icon"></i>
      <div class="content">
        Pizza Day
        <div class="sub header">
          And I don't cook, either. Not as long as they still deliver pizza.
        </div>
      </div>
    </h2>

    <form action="/order/" method="post" class="ui fluid form segment">
      <div class="ui fluid accordion">
        {{ pz_helper.pizza_header() }}

        {% for pizza in pizzas -%}
          {{ pz_helper.pizza_item(pizza[0], pizza[5], pizza[1], pizza[2], pizza[3], pizza[4]) }}
        </div>
      {%- endfor %}
      </div>
    </form>
  </div>
</div>

{% endblock content %}
