{% extends "application.jinja" %}

{# change title #}
{% block title %}Pizza Day{% endblock %}

{# content for main block #}
{% block content %}

    <form action="" method="POST" name="create_session">
        {{ form.hidden_tag() }}
        <p>
            Select from pizza places: {{ form.pizza_place }}
        </p>
        <p>
            Select deadline: {{ form.deadline }}
        </p>
        <p>
            Invites: {{ form.recipients }}
        </p>
        <p>
            <input type="submit" value="Create Pizza Session" />
        </p>
    </form>
  
{% endblock content %}
