{% extends "application.jinja" %} {# change title #} {% block title %}Pizza Day{% endblock %}

{# content for main block #}
{% block content %}

<div class="top small spacer"></div>
<div class="ui page grid">
  <div class="column">

    <h2 class="ui huge center aligned icon header" >
      <i class="blue thumbs up outline icon"></i>
      <div class="content">
        Gooood
        <div class="sub header">
          You have a nice day, sir.
        </div>
      </div>
    </h2>
    <div class="ui piled segment">
      <h2>Your Order</h2>
      <p>{{ order["pizza"]|capitalize }} for {{order["price"]}}€</p>
    </div>
  </div>
</div>
<div class="top small spacer"></div>
{% endblock content %}
